@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  background-color: #252d38;
}

.container-fluid {
  max-width: 1920px;
}

.container {
  max-width: 1548px;
}

.HeaderBar {
  background: rgba(255, 255, 255, 0.04) !important;
  -webkit-backdrop-filter: blur(39.5999984741px) !important;
          backdrop-filter: blur(39.5999984741px) !important;
  height: 100px;
}
.HeaderBar .LogoDiv {
  height: 53px;
  width: 211px;
}
.HeaderBar .LogoDiv img {
  -o-object-fit: contain;
     object-fit: contain;
}
.HeaderBar .Get_Started {
  display: inline-flex;
  padding: 16px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--linear, linear-gradient(104deg, #009dda 0%, #62ba47 97.95%));
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  border: transparent;
  transition: background 0.3s ease-in;
}
.HeaderBar .Get_Started:hover {
  background: var(--linear, linear-gradient(104deg, #62ba47 0%, #009dda 97.95%));
}
.HeaderBar .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff !important;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.HeaderBar .navbar-nav {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 30px;
}
@media screen and (max-width: 991px) {
  .HeaderBar .navbar-nav {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
  }
}
.HeaderBar .navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}

.StakePortal {
  position: relative;
  min-height: 100vh;
}
.StakePortal .BGUP {
  position: absolute;
  max-width: 781px;
  max-height: 619px;
  top: -40px;
  left: 0;
}
.StakePortal .BGUPCIRCLE {
  position: absolute;
  border-radius: 294px;
  background: var(--linear, linear-gradient(104deg, #009dda 0%, #62ba47 97.95%));
  filter: blur(240.25px);
  width: 294px;
  height: 294px;
  flex-shrink: 0;
  z-index: 9999;
  top: 0%;
  left: 10%;
}
.StakePortal .BGDNCIRCLE {
  position: absolute;
  border-radius: 294px;
  background: var(--linear, linear-gradient(104deg, #009dda 0%, #62ba47 97.95%));
  filter: blur(240.25px);
  width: 294px;
  height: 294px;
  flex-shrink: 0;
  z-index: 2;
  bottom: 5%;
  right: 10%;
}
.StakePortal .BGDN {
  position: absolute;
  max-width: 781px;
  max-height: 619px;
  bottom: 0%;
  right: 0;
}
.StakePortal .card-deck {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}
.StakePortal .card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  background: #ffffff;
}
.StakePortal .card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.StakePortal .card-body {
  padding: 20px;
}
.StakePortal .card-title {
  font-size: 1.25rem;
  color: #26313a;
}
.StakePortal .card-text {
  font-size: 1rem;
  color: #26313a;
  margin: 1%;
}
.StakePortal .input-group {
  margin-top: 15px;
}
.StakePortal .input-group .form-control {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.StakePortal .input-group .btn {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.StakePortal .btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 100% !important;
  gap: 12px !important;
}
.StakePortal .btn {
  border-radius: 10px !important;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.StakePortal .btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
  transition: all 0.5s ease-in-out;
}
.StakePortal .btn-primary.rounded-right {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.StakePortal .btn-primary:hover {
  background-color: #fff;
  border: 1px solid #0782ee;
  color: #0782ee;
}
.StakePortal .btn-secondary {
  background-color: #fff;
  border: 1px solid #0782ee;
  color: #0782ee;
  transition: all 0.5s ease-in-out;
}
.StakePortal .btn-secondary:hover {
  background-color: #0782ee;
  border: 1px solid #fff;
  color: #fff;
}
.StakePortal .btn-info {
  background-color: transparent;
  border: none;
  padding: 10px 0;
}
.StakePortal .btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.StakePortal .loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.StakePortal .loading .blur {
  filter: blur(5px);
}
.StakePortal .loading .card {
  pointer-events: none;
}

.Footer {
  display: flex;
  padding: 30px 80px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: #1f2732;
}
.Footer .FText {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.096px;
}

.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* Ensure loader stays on top */
}

.loader-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.content {
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: filter 0.3s ease; /* Smooth transition for blur effect */
}

.blur {
  filter: blur(5px); /* Blur effect when loading */
  pointer-events: none; /* Disable pointer events on blurred content */
}

.sui-logo {
  height: 23px;
}

.connectedDiv {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */