#myConnnectBtn {
  border-radius: 5px;
  background: var(--linear, linear-gradient(104deg, #009DDA 0%, #62BA47 97.95%));
  border: 10px solid red;
}

.HeaderBar {
  background: rgba(255, 255, 255, 0.04) !important;
  -webkit-backdrop-filter: blur(39.5999984741px) !important;
          backdrop-filter: blur(39.5999984741px) !important;
  height: 100px;
}
.HeaderBar .LogoDiv {
  height: 53px;
  width: 211px;
}
.HeaderBar .LogoDiv img {
  -o-object-fit: contain;
     object-fit: contain;
}
.HeaderBar .Get_Started {
  display: inline-flex;
  padding: 16px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--linear, linear-gradient(104deg, #009dda 0%, #62ba47 97.95%));
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  border: transparent;
  transition: background 0.3s ease-in;
}
.HeaderBar .Get_Started:hover {
  background: var(--linear, linear-gradient(104deg, #62ba47 0%, #009dda 97.95%));
}
.HeaderBar .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff !important;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.HeaderBar .navbar-nav {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 30px;
}
.HeaderBar .navbar-nav #connectBtn > button {
  border-radius: 5px;
  background: var(--linear, linear-gradient(104deg, #009DDA 0%, #62BA47 97.95%));
  color: white;
}
@media screen and (max-width: 991px) {
  .HeaderBar .navbar-nav {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
  }
}
.HeaderBar .navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}

.StakePortal {
  position: relative;
  min-height: 100vh;
}
.StakePortal .BGUP {
  position: absolute;
  max-width: 781px;
  max-height: 619px;
  top: -40px;
  left: 0;
}
.StakePortal .BGUPCIRCLE {
  position: absolute;
  border-radius: 294px;
  background: var(--linear, linear-gradient(104deg, #009dda 0%, #62ba47 97.95%));
  filter: blur(240.25px);
  width: 294px;
  height: 294px;
  flex-shrink: 0;
  z-index: 2;
  top: 0%;
  left: 10%;
}
.StakePortal .BGDNCIRCLE {
  position: absolute;
  border-radius: 294px;
  background: var(--linear, linear-gradient(104deg, #009dda 0%, #62ba47 97.95%));
  filter: blur(240.25px);
  width: 294px;
  height: 294px;
  flex-shrink: 0;
  z-index: 2;
  bottom: 5%;
  right: 10%;
}
.StakePortal .BGDN {
  position: absolute;
  max-width: 781px;
  max-height: 619px;
  bottom: 0%;
  right: 0;
}
.StakePortal .itemHeadings {
  padding: 100px 10px 0px 10px;
}
.StakePortal .itemHeadings .common-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  background: var(--linear, linear-gradient(104deg, #009DDA 0%, #62BA47 97.95%));
  -webkit-background-clip: text;
          background-clip: text;
}
.StakePortal .itemHeadings .common-col:first-child {
  justify-content: flex-start;
  min-width: 600px;
  padding-left: 10px;
}
.StakePortal .itemHeadings .common-col h4 {
  color: transparent;
  font-size: 16px;
}
.StakePortal button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}
.StakePortal button:focus {
  outline: none;
  box-shadow: none;
}
.StakePortal button:hover {
  box-shadow: none !important;
}
.StakePortal button .item {
  color: white;
  width: 100%;
  transition: transform 0.2s, box-shadow 0.2s;
  background: linear-gradient(104deg, rgba(0, 157, 218, 0.06) 0%, rgba(98, 186, 71, 0.06) 97.95%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 12px;
  padding: 0px 10px;
  margin-bottom: 10px;
  position: relative;
  z-index: 20;
}
.StakePortal button .item .common-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.StakePortal button .item .common-col:first-child {
  min-width: 600px;
}
.StakePortal button .item .common-col:last-child button {
  background: var(--linear, linear-gradient(104deg, #009DDA 0%, #62BA47 97.95%));
  opacity: 0.8;
}
.StakePortal .input-group .form-control {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.StakePortal .input-group .btn {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.StakePortal .btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 100% !important;
  gap: 12px !important;
}
.StakePortal .btn {
  border-radius: 10px !important;
  padding: 0px 20px;
  font-size: 1rem;
  transition: background-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.StakePortal .btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
  transition: all 0.5s ease-in-out;
}
.StakePortal .btn-primary.rounded-right {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.StakePortal .btn-primary:hover {
  background-color: #fff;
  border: 1px solid #0782ee;
  color: #0782ee;
}
.StakePortal .btn-secondary {
  background-color: #fff;
  border: 1px solid #0782ee;
  color: #0782ee;
  transition: all 0.5s ease-in-out;
}
.StakePortal .btn-secondary:hover {
  background-color: #0782ee;
  border: 1px solid #fff;
  color: #fff;
}
.StakePortal .btn-info {
  background-color: transparent;
  border: none;
  padding: 10px 0;
}
.StakePortal .btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.StakePortal .loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.StakePortal .loading .blur {
  filter: blur(5px);
}
.StakePortal .loading .card {
  pointer-events: none;
}

.Footer {
  display: flex;
  padding: 30px 80px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: #1f2732;
}
.Footer .container .FText {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.096px;
}

.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  /* Ensure loader stays on top */
}

.loader-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.content {
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: filter 0.3s ease;
  /* Smooth transition for blur effect */
}

.blur {
  filter: blur(5px);
  /* Blur effect when loading */
  pointer-events: none;
  /* Disable pointer events on blurred content */
}

.sui-logo {
  height: 23px;
}

.connectedDiv {
  display: flex;
  justify-content: center;
}

#Pool .container.first {
  color: white;
  margin: 95px auto 35px auto;
}
#Pool .container.first .common-col:first-child .loloPad {
  padding: 32px 0px;
}
#Pool .container.first .common-col:first-child .loloPad h4,
#Pool .container.first .common-col:first-child .loloPad p {
  margin: 0;
  padding: 0;
}
#Pool .container.first .common-col:first-child .loloPad h4 {
  color: #FFF;
  font-family: "Bebas Neue", sans-serif;
  font-size: 74px;
  font-style: normal;
  font-weight: 400;
}
#Pool .container.first .common-col:last-child .innerCol:first-child .myCard .myInnerCard .myContent, #Pool .container.first .common-col:last-child .innerCol:last-child .myCard .myInnerCard .myContent {
  padding: 26px;
  border-radius: 12px;
  border: 1.029px solid rgba(0, 156, 218, 0.5);
  background: linear-gradient(104deg, rgba(0, 157, 218, 0.06) 0%, rgba(98, 186, 71, 0.06) 97.95%);
  -webkit-backdrop-filter: blur(8.8999996185px);
          backdrop-filter: blur(8.8999996185px);
}
#Pool .container.first .common-col:last-child .innerCol:first-child .myCard .myInnerCard .myContent .pCon, #Pool .container.first .common-col:last-child .innerCol:last-child .myCard .myInnerCard .myContent .pCon {
  background: var(--linear, linear-gradient(104deg, #009DDA 0%, #62BA47 97.95%));
  -webkit-background-clip: text;
          background-clip: text;
  display: inline-block;
}
#Pool .container.first .common-col:last-child .innerCol:first-child .myCard .myInnerCard .myContent .pCon p, #Pool .container.first .common-col:last-child .innerCol:last-child .myCard .myInnerCard .myContent .pCon p {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.092px;
  color: transparent;
}
#Pool .container.first .common-col:last-child .innerCol:first-child .myCard > h4, #Pool .container.first .common-col:last-child .innerCol:last-child .myCard > h4 {
  color: #F3EEFC;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.123px;
}
#Pool .myCon {
  margin-top: 75px;
}
#Pool .myCon h4 {
  color: white;
  font-family: "Bebas Neue";
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
}
#Pool .container.second .myWrapper {
  color: white;
  overflow: hidden;
  border-radius: 12px;
  border: 1.029px solid rgba(0, 156, 218, 0.5);
  background: linear-gradient(104deg, rgba(0, 157, 218, 0.06) 0%, rgba(98, 186, 71, 0.06) 97.95%);
  -webkit-backdrop-filter: blur(8.8999996185px);
          backdrop-filter: blur(8.8999996185px);
}
#Pool .container.second .myWrapper .common-col {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 40px;
}
#Pool .container.second .myWrapper .common-col:first-child {
  background: rgba(217, 217, 217, 0.03);
}
#Pool .container.second .myWrapper .common-col:first-child .common-cls p.ff {
  margin-left: 20px;
}
#Pool .container.second .myWrapper .common-col:first-child div.grad {
  background: var(--linear, linear-gradient(104deg, #009DDA 0%, #62BA47 97.95%));
  -webkit-background-clip: text;
          background-clip: text;
  display: inline-block;
}
#Pool .container.second .myWrapper .common-col:first-child div.grad p {
  color: transparent;
  margin: 0;
  padding: 0;
}
#Pool .container.second .myWrapper .common-col:not(:first-child) {
  cursor: pointer;
}
#Pool .container.second .myWrapper .common-col:not(:first-child) .common-cls:nth-of-type(1) * {
  margin: 0;
  padding: 0;
}
#Pool .container.second .myWrapper .common-col:not(:first-child) .common-cls:nth-of-type(1) .ultimate {
  display: flex;
  align-items: center;
  gap: 12px;
}
#Pool .container.second .myWrapper .common-col:not(:first-child) .common-cls:nth-of-type(1) .ultimate p {
  background: var(--linear, linear-gradient(104deg, #009DDA 0%, #62BA47 97.95%));
  -webkit-background-clip: text;
          background-clip: text;
  display: inline-block;
  color: transparent;
}
#Pool .container.second .myWrapper .common-col:not(:first-child) .common-cls:nth-of-type(3) p {
  display: inline;
  margin-left: 10px;
}

.modal-content {
  width: 504px;
  height: 450px;
  margin: auto;
  border-radius: 12.347px;
  border: 1.029px solid #009DDA;
  background: linear-gradient(104deg, rgba(0, 157, 218, 0.06) 0%, rgba(98, 186, 71, 0.06) 97.95%);
  -webkit-backdrop-filter: blur(8.8999996185px);
          backdrop-filter: blur(8.8999996185px);
}
.modal-content .modal-body #connect .mainBtns {
  margin-top: 34px;
  border: 1px solid red;
  padding: 5px;
  border-radius: 53.577px;
  border: 0.957px solid rgba(255, 255, 255, 0.03);
  background: rgba(255, 255, 255, 0.1);
}
.modal-content .modal-body #connect .mainBtns button {
  width: 50%;
  border-radius: 54.534px;
  border: 0.957px solid rgba(255, 255, 255, 0.03);
  background: transparent;
  border: none;
  padding: 12px 0px;
  color: white;
}
.modal-content .modal-body #connect .mainBtns button.active {
  background: var(--linear, linear-gradient(104deg, #009DDA 0%, #62BA47 97.95%));
}
.modal-content .modal-body #connect .inputCon .meriInput {
  position: relative;
}
.modal-content .modal-body #connect .inputCon .meriInput span {
  right: 20px;
  top: 50%;
  transform: translateY(50%);
  position: absolute;
  color: white;
  background: transparent;
  box-shadow: none;
}
.modal-content .modal-body #connect .inputCon .meriInput input.myInput {
  margin-top: 54px;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border-radius: 12.347px;
  padding: 16px 10px;
  border: 1.029px solid #009DDA;
  background: linear-gradient(104deg, rgba(0, 157, 218, 0.06) 0%, rgba(98, 186, 71, 0.06) 97.95%);
  -webkit-backdrop-filter: blur(7.558236599px);
          backdrop-filter: blur(7.558236599px);
  width: 100%;
}
.modal-content .modal-body #connect .inputCon .meriInput input.myInput::-moz-placeholder {
  color: white;
}
.modal-content .modal-body #connect .inputCon .meriInput input.myInput::placeholder {
  color: white;
}
.modal-content .modal-body #connect .inputCon .meriInput input.myInput:focus-visible {
  outline: none;
}
.modal-content .modal-body #connect .inputCon .text {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.modal-content .modal-body #connect .inputCon .text p {
  color: white;
}
.modal-content .modal-body #connect .inputCon .text a {
  background: var(--linear, linear-gradient(104deg, #009DDA 0%, #62BA47 97.95%));
  -webkit-background-clip: text;
          background-clip: text;
  display: inline-block;
  color: transparent;
}
.modal-content .modal-body #connect .btns {
  background: var(--linear, linear-gradient(104deg, #009DDA 0%, #62BA47 97.95%));
  -webkit-background-clip: text;
          background-clip: text;
}
.modal-content .modal-body #connect .btns button {
  width: 100%;
  display: flex;
  padding: 15.308px 21.048px;
  justify-content: center;
  align-items: center;
  gap: 9.567px;
  margin-bottom: 10px;
  border: 2px solid #009DDA;
  background: transparent;
  color: transparent;
  border-radius: 4.784px;
}
.modal-content .modal-body #connect .btns button:first-child {
  background: var(--linear, linear-gradient(104deg, #009DDA 0%, #62BA47 97.95%));
  color: white;
  border: 2px solid transparent;
}
.modal-content .modal-body #connect .btns button:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}/*# sourceMappingURL=style.css.map */